body {
    background: rgb(19, 20, 20);
}
a{
    color: rgb(21, 33, 39);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#89e8f5;
}
.navbar .logo {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar ul li{
    margin: 25px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
}
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding:60px;
    color:white;
}
h1{
    font-size: 48px;
    color: #89e8f5;;
}
h3{
    font-size: 34px;
    margin: 20px 0;
}
p{
    font-size: 20px;
    margin:10px;
}
.home-img .img-box{
    width:32vw;
    height:32vw;
    background:red;
    border-radius: 50%;
}
.home-img .img-box .img-item{
    width:100%;
    height:100%;
    border-radius: 50%;
    background: slateblue;
    display: flex;
    position: relative; 
    justify-content: center;
    overflow:hidden;
}
.about {
  padding: 60px 10%;
  background-color: #202122;
  text-align: center;
  
}

.about h2 {
  font-size: 2rem;
  color:#89e8f5;
  margin-bottom: 20px;
}

.about p {
  font-size: 1rem;
  color: #ece6e6;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}
.skills{
  padding: 60px 10%;
  background-color: #202122;
  text-align: center;
}
.skills h2 {
  font-size: 2rem;
  color: #89e8f5;
  margin-bottom: 20px;
}
.skills p{
     font-size: 18px;
  color: #eff2f5;
  margin-bottom: 20px;
  padding-right: 0%;
} 
/* Projects Section */
#projects {
  padding: 50px;
  background-color: #141414;
}

#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #42d3b4;
}

.project {
  background: #bda5a5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.project h3 {
  color: #6fa04e;
  margin-bottom: 10px;
}

.project p {
  color: #0a0a0a;
  font-size: 1rem;
  line-height: 1.5;
}
